# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# Code coverage
*.lst

# Local files
local/

# Xmake files
.xmake/
build/

# Configure file
src/shit/configs/project.d

# Vscode project files
.vscode/

# TODO file
TODO

node_modules/
docs/.vitepress/cache
docs/.vitepress/dist